.inputEducation {
  position: relative;
  display: block;
  border: 1px solid rgb(63, 60, 60);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
.ip-edu {
  height: 45px;
  padding: 10px;
  font-size: 12px;
  width: 80%;
  font-weight: 300;
  border: none;
  margin-right: 10px;
}

.ip-edu:focus {
  outline: none;
}
.dustbin {
  width: 20px;
  object-fit: contain;
  margin-right: 10px;
  cursor: pointer;
}
.dustbin:hover {
  transform: scale(1.05);
}
